.cartao-pokemon {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    display: none;
}

.cartao-pokemon:hover {
    transform: scale(1.01);
}

.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size: 12px;
    opacity: 0.8;
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cartao-pokemon .detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cartao-pokemon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cartao-pokemon .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255,250,250);
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades  {
    padding: 0 10px;
    width: 179px;
}

.cartao-pokemon .cartao-informacoes .habilidades ul li, .cartao-pokemon .cartao-informacoes .status ul li {
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto {
    display: block;
}

.tipo-fogo {
    background-color: #ed8a8b;
}

.tipo-eletrico {
    background-color: #fcc719;
}

.tipo-agua {
    background-color: #76bdfd;
}

.tipo-grama {
    background-color: #48d0b0;
}

.tipo-fantasma {
    background-color: #8571be;
}

.tipo-dragao {
    background-color: #f16e57;
}



