body {
    font-family: 'Poppins', sans-serif;
    background-color: #dadfe8;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}